body {
    background-color: black;
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 90vh;
}

#nav-bar {
    margin: 2vh;
    display: flex;
    align-self: center;
    gap: 15px;
    color: white;
    font: serif;
}


#nav-bar  a:link, a:visited, a:active {
  padding: 8px;
  color: inherit; /* or specify a color like 'black' or '#000000' */
  text-decoration: none;
}

#nav-bar a:hover {
    color: black;
    background-color: white;
    padding: 6px;
    border: white solid 2px;
    border-radius: 20px;
}

