body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: calc(2rem + 4vw);
    text-transform: uppercase;

}

h1, h2, p{
  color:white;
  text-align: center;
}
