body {
    background-color: black;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 7rem;
    text-align: center;
}

#intro {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    color: white;
}

#intro h2, #intro p {
    font-family: sans-serif;
    text-align: right;
}